@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.sidebar_icon {
    cursor: pointer;
    width: 30px;
    padding: 8px 10px;

}

.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    border-right: 1px solid #454545;
    background-color: blueviolet;
    padding: 10px;
    width: 45px;
    cursor: pointer;
    margin-right: auto;
}