/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic'); */
  

/* body {
    font-family: 'Linearicons', sans-serif;
} */


input {
  /* border: none; */
  border-bottom: solid 1px;
  /* background: transparent; */
  width: 250px;
  padding: 1px;
}

/* input:focus {
  outline: none;
  transform: scale(1.01);
}

::-webkit-input-placeholder {
  color: #566885;
  font-weight: 700;
}

:-ms-input-placeholder {
  color: #566885;
  font-weight: 700;
}

::-moz-placeholder {
  color: #566885;
  font-weight: 700;
}

:-moz-placeholder {
  color: #566885;
  font-weight: 700;
} */